.header {
	height: 100px;
	background: #34495e;
	padding: 0 20px;
	color: #fff;
	position: relative;
}

div.header img {
	width: 100px;
	margin-right: 15px;
	float: left;
}

.logo {
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}

.menu {
	float: right;
	line-height: 100px;
}

.menu a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
	color: #6e8efb;
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.content {
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content p {
	text-align: justify;
}

.content1 {
	border: 1px solid red;
	padding: 2%;
}

.content2 {
	border: 1px solid green;
}

.content2-left {
	width: 49%;
	text-align: justify;
	padding: 2%;
	float: left;
}

.content2-right {
	width: 49%;
	text-align: justify;
	padding: 2%;
	float: right;
}

.content-titulo-principal{
	text-align: center;
	padding: 2%;
}

.content-titulo {
	text-align: center;
	padding: 1%;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
	padding: 26px;
	background-color: #12181f;
	color: #fff;
}

footer ul {
	display: flex;
	align-items: center;
	align-content: center;
}

footer ul li {
	padding: 7px;
	list-style: none;
}

@media screen and (max-width:800px) {

	.show-menu-btn,
	.hide-menu-btn {
		display: block;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #333;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
	}

	.menu a {
		display: block;
		padding: 20px;
	}

	.hide-menu-btn {
		position: absolute;
		top: 40px;
		right: 40px;
	}

	#chk:checked~.menu {
		right: 0;
	}
}




/* 

.titulo {
	font-size: 46px;
	font-family: "Lato";
	text-transform: uppercase;
	margin-left: 100px;
	color: #6e8efb;
}

.corPadrao {
	color: #6e8efb;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 3%;
	width: 100%;
	border-bottom: solid 1px #c6c6c6;
	box-shadow: 0px 0px 5px #c6c6c6;
	position: fixed;
	background-color: #fff;
	background-color: #333;
}

.navegacao ul {
	display: flex;
	list-style: none;
}

.navegacao ul li {
	margin: 0 16px;
}

.navegacao ul a {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

.conteudo1 {
	display: flex;
	background-image: url(../img/fundo1.jpg);
	background-size: cover;
	min-height: 75vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.visao {
	font-size: 120%;
	padding: 10px 116px 0 116px;
}

h1,
h2 {
	padding: 5px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 25px;
}

p {
	font-size: 100%;
	padding: 2px 5px 5px 5px;
}

.titulo-princ {
	padding: 100px 0 20px 0;
}

.conteudo {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 5%;
}

.conteudo-art {
	width: 48%;
	text-align: justify;
	padding: 10px;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
	padding: 26px;
	background-color: #333;
}

footer ul {
	display: flex;
	align-items: center;
	align-content: center;
}

footer ul li {
	padding: 7px;
}

footer h4,
footer ul li a i {
	color: #fff;
	
	font-family: 'Times New Roman', Times, serif;
	color: #4ab3c6;
}



.corpo-login,
.corpo-cadastro {
	margin: 10%;
}

.conteudo-login,
.conteudo-cadastro {
	width: 500px;
	min-height: 560px;
	margin: 0px auto;
	position: relative;
}

.login,
.cadastro {
	position: absolute;
	top: 0px;
	width: 88%;
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: #f7f7f7;
	border: 1px solid rgba(147, 184, 189, 0.8);
	border-radius: 5px;

	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;

	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

input {
	outline: none;
}

.entrada:not([type="checkbox"]) {
	width: 95%;
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.link {
	position: absolute;
	background: #e1eaeb;
	color: #7f7c7c;
	left: 0px;
	height: 15%;
	width: 100%;
	padding: 4% 20% 4% 20%;
	font-size: 80%;
	text-align: right;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 0 0 5px 5px;
}

.login,
.cadastro a:link,
a:visited {
	text-decoration: none
}

.login,
.cadastro a:hover {
	text-decoration: none;
	color: #f00
}

.login,
.cadastro a:active {
	text-decoration: none
}

.botao-entrar:hover {
	background: #4ab3c6;
}

.botao-entrar {
	width: 95%;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	transition: all 0.2s linear;
}

p a {
	font-size: 100%;
	margin-left: 5%;
}



div.flex-dashboard {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	max-width: 1400px;
}

sidebar {		
	display: block;
	height: 10%;
	width: 300px;
	background-color: #f00;
}

main{
	display: block;
	height: 100%;
	background-color: #ccc;
	width: calc(100% - 300px);

}
@media screen and (max-width: 850px) {

	.cabecalho {
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}

	.conteudo-art {
		width: 50%;
	}
}

@media screen and (max-width: 515px) {

	.cabecalho ul {
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
	}

	.cabecalho ul li {
		padding: 7px;
	}

	.titulo-princ {
		padding: 50px 0 10px 0;
	}

	.conteudo1 .space1 {
		padding-top: 255px;
	}

	.conteudo-art {
		width: 100%;
	}
} */
