* {
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;

}

main {
	color: #444444;
}

img {
	max-width: 100%;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 3%;
	width: 100%;
	position: fixed;
	background-color: #5979fb;
}

.titulo {
	font-size: 46px;
	font-family: "Lato";
	text-transform: uppercase;
	color: #fff;
}

.navegacao ul {
	display: flex;
	list-style: none;

}

.navegacao ul li {
	margin: 0 15px;
}

.navegacao ul a {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
}

.conteudo {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 5%;
}


.conteudo-art {
	width: 40%;
	text-align: justify;
	padding: 10px;
}

h1,
h2 {
	padding: 5px;
	font-size: 25px;
	text-align: center;
}

hr {
	width: 50%;
	color: #5979fb;
	margin-bottom: 3%;
	margin-top: 2%;
}

h2 {
	font-size: 25px;
}

p {
	font-size: 20px;
	padding: 2px 5px 5px 5px;
}

.titulo-princ {
	padding: 11% 0 2% 0;
}


footer {
	background-color: #5f5f5f;
	margin-top: 16px;
	text-align: center;
	padding: 0.01em 16px;
	color: #fff;
}

.cor_branca {
	color: #fff;
}

@media screen and (max-width: 850px) {

	.cabecalho {
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}

	.conteudo-art {
		width: 50%;
	}
}

@media screen and (max-width: 515px) {

	.cabecalho ul {
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
	}

	.cabecalho ul li {
		padding: 7px;
	}

	.titulo-princ {
		padding: 50px 0 10px 0;
	}

	.conteudo1 {
		padding-top: 255px;
	}

	.conteudo-art {
		width: 100%;
	}

}