* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #333;
	box-sizing: border-box;
	font-family: 'Times New Roman', serif;
}

.titulo {
	font-size: 46px;
	font-family: "Lato";
	text-transform: uppercase;
	margin-left: 100px;
}

.corPadrao {
	color: rgb(0, 0, 0);
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 3%;
	width: 100%;
	border-bottom: solid 1px #c6c6c6;
	box-shadow: 0px 0px 5px #c6c6c6;
	position: fixed;
	background-color: #fff;
}

.navegacao ul {
	display: flex;
	list-style: none;
}

.navegacao ul li {
	margin: 0 16px;
}

.navegacao ul a {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

.conteudo1 {
	display: flex;
	background-image: url(../img/fundo1.jpg);
	background-size: cover;
	min-height: 75vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.visao{
	font-size: 120%;
	padding: 10px 116px 0 116px;
}

h1, h2 {
	padding: 5px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 25px;
}

p {
	font-size: 100%;
	padding: 2px 5px 5px 5px;
}

.titulo-princ {
	padding: 100px 0 20px 0;
}

.conteudo {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 5%;
}

.conteudo-art {
	width: 48%;
	text-align: justify;
	padding: 10px;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
	padding: 26px;
	background-color: #333;
}

footer ul {
	display: flex;
	align-items: center;
	align-content: center;
}

footer ul li {
	padding: 7px;
}

footer h4,
footer ul li a i {
	color: #fff;
}


@media screen and (max-width: 850px) {

	.cabecalho {
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}

	.conteudo-art {
		width: 50%;
	}
}

@media screen and (max-width: 515px) {

	.cabecalho ul {
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
	}

	.cabecalho ul li {
		padding: 7px;
	}

	.titulo-princ {
		padding: 50px 0 10px 0;
	}

	.conteudo1 .space1 {
		padding-top: 255px;
	}

	.conteudo-art {
		width: 100%;
	}
}

/* CSS reset */

/* * {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
} */

/* CSS Global */

/* main {
	color: #444444;
}
.corPadrao {
	color: #8A05BE;
}

