div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #fff;
}

sidebar .sidebar-title {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, .0625);
}

sidebar .sidebar-title img {
    height: 40px;
    width: 40px;
}

sidebar .sidebar-title h2 {
    font-size: 18px;
    margin-top: 8px;
}

.menu {
    border-right: 1px solid rgba(0, 0, 0, .0625);
}

.menu ul {
    list-style-type: none;
}

.menu ul li{
    padding: 20px 20px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu ul li i{
    color: #6e8efb;
    font-size: 25px;
}

.menu ul li a {
    color: #72777a;
    margin-left: 20px;
    text-decoration: none;
}

.menu ul li a:hover{
    color:#4d4d4d;
}

