<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Ulisses Lima  e Walber Rian">
    <meta name="keywords" content="gerenciamento, tarefas, 2020, categorias, grupos, sub-grupos">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../images/favicon.png" />
    <script src="https://kit.fontawesome.com/d05ac65141.js" crossorigin="anonymous"></script>
    <title>Tnotes</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/logo.png" alt="">
                <!-- <h3>Tnotes</h3> -->
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="far fa-user"></i>
                        <a href="#">Atríbuída a você</a>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                        <a href="#">Importante</a>
                    </li>
                    <li>
                        <!-- <i class="fas fa-tasks"></i> -->
                        <i class="fas fa-home"></i>
                        <a href="#">Tarefas</a>
                    </li>
                    <hr>
                    <li>
                        <i class="fas fa-users"></i>
                        <a href="#">Grupos</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"><i class="fas fa-home"></i> Dashboard</a>
                <a href="../views/login.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </header>
            <div class="main-content">
                <p>main</p>
                <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                    é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                    de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                    nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                    simples e gratuito.</p>
                    <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                        é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                        de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                        nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                        simples e gratuito.</p>
                        <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                            é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                            de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                            nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                            simples e gratuito.</p>
                            <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                simples e gratuito.</p>
                                <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                    é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                    de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                    nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                    simples e gratuito.</p>
                                    <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                        é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                        de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                        nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                        simples e gratuito.</p>
                                        <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                            é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                            de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                            nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                            simples e gratuito.</p>
                                            <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                simples e gratuito.</p>
                                                <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                    é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                    de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                    nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                    simples e gratuito.</p>
                                                    <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                        é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                        de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                        nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                        simples e gratuito.</p>
                                                        <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                            é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                            de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                            nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                            simples e gratuito.</p>
                                                            <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                                é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                                de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                                nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                                simples e gratuito.</p>
                                                                <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                                    é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                                    de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                                    nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                                    simples e gratuito.</p>
                                                                    <p>Para a Mambee que tem muitos desenvolvedores que precisam gerenciar seu alto volume de tarefas o Tnotes,
                                                                        é uma plataforma web de gerenciamento de tarefas pessoal que beneficia os usuários com o gerenciamento
                                                                        de suas tarefas. Ao contrário de outras plataformas que não levam em consideração o grau de importância,
                                                                        nem os co-responsáveis e nem as categorias das tarefas, nosso produto faz tudo isso, sendo assim rápido,
                                                                        simples e gratuito.</p>
                                                                        
            </div>
        </main>
        <a href="#" class="float-button">
            <i class="fa fa-plus my-float"></i>
        </a>
    </div>

    <script src="../js/main.js"> </script>
</body>

</html>