<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Ulisses Lima  e Walber Rian">
    <meta name="keywords" content="gerenciamento, tarefas, 2020, categorias, grupos, sub-grupos">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../images/favicon.png" />
    <script src="https://kit.fontawesome.com/d05ac65141.js" crossorigin="anonymous"></script>
    <title>Tnotes</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/logo.png" alt="">
                <!-- <h3>Tnotes</h3> -->
            </div>
            <div class="menu">
                <ul class="menu-ul">
                    <li>
                        <i class="far fa-user"></i>
                        <a href="#">Atríbuída a você</a>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                        <a href="#">Importante</a>
                    </li>
                    <li>
                        <!-- <i class="fas fa-tasks"></i> -->
                        <i class="fas fa-home"></i>
                        <a href="#">Tarefas</a>
                    </li>
                    <hr>
                    <li>
                        <div class="dropdown">
                            <i class="fas fa-users"></i>
                            <div>
                                <button class="dropdown-btn">Grupos</button>
                                <div class="dropdown-container">
                                    <input type="text" value="" name="campo-add-grupo" id="idAddGrupo" class="input-grupo" placeholder="  novo grupo">
                                    <button class="fas fa-check btn-add" id="idBtnCheck"><i></i></button>
                                    <div class="grupos" id="idGp"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"><i class="fas fa-home"></i> Dashboard</a>
                <a href="../views/login.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </header>
            <div class="main-content">
                <div id="mostras">
                </div>
            </div>
        </main>
    </div>
    <button id="myBtn" class="float-button fa fa-plus my-float"></button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="#" method="GET">
                <div class="nome-tarefa">
                    <label for="uname" class="labal-nome-tarefa"><b>Tarefa</b></label>
                    <input id="idModalTarefa" class="caixa-nome-tarefa" type="text" name="nome-da-tarefa" value="">
                </div>
                <div class="grua-importacia">
                    <label for="importacia-da-tarefa" class="labal-importacia-tarefa"><b>Grau de Importância</b></label>
                    <select name="grau-de-importacia" id="idGrauImportacia">
                        <option value="Indefinido" selected="selected">Indefinido</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="descricao-tarefa">
                    <label for="text" class="labal-descricao-tarefa"><b>Descrição</b></label>
                    <textarea id="idModalDescricao" class="caixa-descricao-tarefa" rows="4" cols="50"></textarea>
                </div>
                <button class="btn-submit" id="myBtn2" type="button">adicionar</button>
            </form>
        </div>
    </div>

    <script src="../js/tarefas.js"></script>
    <script src="/js/main.js"></script>
    <script src="../js/grupos.js"></script>

</body>

</html>